@import './variables.scss';

/*
    text-transform
    text-decoration
    outline
    border
    эдгээр property-ийг судлаарай
*/

.btn {
    height: 100%;
    width: 100%;
    // font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border-width: 0;
    text-decoration: none !important;
    outline: none !important;
}

.btn-pf {
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    border-width: 0;
    text-decoration: none !important;
    outline: none !important;
}

.btn-fb {
    height: 100%;
    width: 100%;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border-width: 0;
    border-radius: 5px;
    text-decoration: none !important;
    outline: none !important;
    background: #2F80ED;
    color: white;
}

.disabled {
    background: #BDBDBD;
    pointer-events: none;
    user-select: none;
}

.upvoted {
    user-select: none;
    background-color: lime;
}

.vote {
    user-select: none;
    background-color: grey;
}

.input {
    box-sizing: border-box;
    padding-left: 19px;
    text-decoration: none !important;
    outline: none !important;
}

.box {
    border: solid 2px black;
    border-radius: 10px;
    background-color: #02B589;
}

.oroltsoh {
    background: #1DD3D2;
    border-radius: 10px;
}

.burtguuleh-disabled {
    background: #BDBDBD;
    border-radius: 5px;
}

.comment {
    background: #FFFFFF;
    border: 1px solid #4F4F4F;
    box-sizing: border-box;
    border-radius: 10px;
}

.search-bar {
    background: #F6FFFF;
    border: 1px solid #1DD3D2;
    box-sizing: border-box;
    border-radius: 10px;
    height: 35px;
}

.fb-btn {
    background: #2F80ED;
    border-radius: 5px;
}

.google-btn {
    background: #2D9CDB;
    border-radius: 5px;
}

.burtguuleh {
    background: #1DD3D2;
    border-radius: 5px;
}

.comment {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
    height: 20px;
}

.info-input {
    background: #FFFFFF;
    // border: 1px solid #E0E0E0;
    box-sizing: border-box;
    padding-left: 20px; 
}

.toggle-menu div{
    transition: all 0.65s ease;
}

.menu-indicator {
    // transition: all 1s ease;
    width: 50%;
    position: absolute;
    left: 0;
    transform: translate(0, 0);
}

.active {
    transform: translate(100%, 0);
}

.t-45 {
    top: 45px;
}