.searchBar {
    position: relative;
}

.searchBar .searchInput {
    padding-left: 40px;
    border-radius: 10px;
    border: none;
    outline: none !important;
    text-decoration: none !important;
    font-weight: 400;
}

.searchBar .searchIcon {
    position: absolute;
    left: 5px;
    top: 5px;
}

.searchBar .closeIcon {
    position: absolute;
    right: 5px;
    top: 5px;
}